<!doctype html>
<html>
<head>
<script defer src="../static/docs.js"></script>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">

<title>Pawsible</title>
</head>

<body>
  <style>
    .custom-navbar 
    {
        background-color: #F7F7E9;
    }
</style>
  <nav class="navbar navbar-expand-lg custom-navbar p-3">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color:#5B2A09;" href="http://127.0.0.1:8000/settings">Settings</a>
        </li>
          <a class="nav-link" style="color:#5B2A09;" href="http://127.0.0.1:8000">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" style="color:#5B2A09;" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <img src="static/img/PawsibleIcon.jpg" width="80" height="70" style="position:absolute; margin-left:80px; margin-top:-70px;">
  <input type="file" style="position:absolute; margin-left:800px; margin-top:500px;" id="docshow">
  <input type="submit" style="position:absolute; margin-left:817px; margin-top:550px;" id="submitbutton">
  <img style="position:absolute; top:50%; left:50%; transform: translateX(-40%) translateY(-50%); height: 50vh; width: 50vw; object-fit: contain;" id="click">

  <style>
    .vertical-nav 
    {
        height: 89.7vh;
        width: 240px;
        background-color: #5b2a09;
        
    }
    .vertical-nav .nav-link 
    {
        color: #ffffff;
        font-size: 1.7rem;
        padding: 50px 10px;
        text-align: left;
        margin-left:-45px; margin-top:0px;

        
    }
    .vertical-nav .nav-link:hover 
    {
        background-color: #331603;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg vertical-nav">
        <div class="container-fluid flex-column">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/documents">Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/comingsoon">Schedules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/comingsoon">Vet Details</a>
                </li>
            </ul>
        </div>
    </nav>

    
  <style>
    body 
    {
      background: #C2B8A3;
    }
  </style>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  -->
  </body>
</html>